html, body {
    background-color: grey;
    padding: 0;
    margin: 0;
}

div {
    #border: 1px solid black;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-image: url("../img/metal.jpg");
    background-position: center;
    margin-top: -20px;
}

header nav {
    display: block;
    height: 60px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
    margin-right: 20px;
}

header nav ul li a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Sarpanch', sans-serif;
    font-variant: small-caps;
}

header nav ul li a:hover {
    color: aliceblue;
}

#home {
    color: aliceblue;
}
